{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="bg-dark p-3 rounded" id="app">

    <div class="row align-items-center d-flex justify-content-center ">
        <div class="col">
            <div class="doors">
                <div class="door">
                    <div class="boxes">
                    <!-- <div class="box">?</div> -->
                    </div>
                </div>
            
                <div class="door">
                    <div class="boxes">
                    <!-- <div class="box">?</div> -->
                    </div>
                </div>
            
                <div class="door">
                    <div class="boxes">
                    <!-- <div class="box">?</div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="buttons">
                <button class="btn btn-primary" id="spinner">Spin</button>
                <button class="btn btn-secondary" id="reseter">Reset</button>
            </div>
        </div>
    </div>
    <div class="row">
        <p class="info"></p>
    </div>
</div>
{% endblock %}
